body {
    background-color: #000000;
    font-family: OCR A Std, monospace;
    text-align: Center;
    margin-top: 0%;
    color: White;
    font-size: 1em;
  cursor: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/07830a70-5c16-4386-8e8a-7d11871646ac/debclzm-b06c9451-e9aa-4d8f-8bf1-81735c020d5b.png/v1/fill/w_256,h_256/photoshop_pixel_icon__beetle__by_piles_of_peaches_debclzm-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjU2IiwicGF0aCI6IlwvZlwvMDc4MzBhNzAtNWMxNi00Mzg2LThlOGEtN2QxMTg3MTY0NmFjXC9kZWJjbHptLWIwNmM5NDUxLWU5YWEtNGQ4Zi04YmYxLTgxNzM1YzAyMGQ1Yi5wbmciLCJ3aWR0aCI6Ijw9MjU2In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.E3nOJsoSBKTAQRipCu8WQVbc7bf5SBzfZ1VUSTql6VQ'), auto;
}

.rainbow-text {
  
    font-size: 3em;
    font-weight: bold;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, indigo, blue, green, yellow, orange);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: rainbow 1s linear infinite;
}
@keyframes rainbow {
    0% { background-position: 0%; }
    100% { background-position: 100%; }
}
.rainbow-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background: linear-gradient(90deg, #000000,#000000,#000000,#c7f3ff, #000000,#000000, #000000);
            background-size: 300% 300%;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            cursor: pointer;
            animation: yes 1s linear infinite;
  }
        @keyframes yes {
            0% { background-position: 0% 0%; }
            50% { background-position: 0% 0%; }
            51% { background-position: 1% 1%; }
            95% { background-position: 100% 100%; }
          96% { background-position: 0% 0%; }
            100% { background-position: 0% 0%; }
        }
            transition: background-position 0.5s ease;
        }
        .rainbow-button:hover {
            background: black;
        }
 
.lol {
    color: White;
  }
